<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright 2016 Google Inc. All Rights Reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
 -->
<manifest package="com.google.android.apps.forscience.whistlepunk"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- Necessary to scan for BLE devices. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- Necessary to connect to BLE devices. -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- Necessary to do decibel sensor. -->
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <!-- Necessary to do camera source. -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- Necessary to write out data. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- Vibrate option available for triggers. -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="false"
        >
        <service
            android:name="com.google.android.apps.forscience.ble.MyBleService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name=".RecorderService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name=".DataService"
            android:enabled="true"
            android:exported="false"/>
        <service
            android:name=".PublicRecorderService"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="com.google.android.apps.forscience.whistlepunk.OBSERVER" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/NoBarTheme.MainActivity"
            android:launchMode = "singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PanesActivity"
            android:label="Panes Science Journal"
            android:theme="@style/AppTheme.Panes"
            android:launchMode = "singleTop"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".RulerActivity"
            android:exported="false"
            android:label="@string/title_activity_ruler"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.google.android.apps.forscience.whistlepunk.MainActivity"/>
        </activity>
        <activity
            android:name=".LevelActivity"
            android:exported="false"
            android:label="@string/title_activity_level"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.google.android.apps.forscience.whistlepunk.MainActivity"/>
        </activity>
        <activity
            android:name=".SensorInfoActivity"
            android:exported="false"
            android:label="@string/title_activity_sensor_info"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.google.android.apps.forscience.whistlepunk.MainActivity"/>
        </activity>
        <activity
            android:name=".review.RunReviewActivity"
            android:exported="false"
            android:label="@string/run_review_activity_label"
            android:theme="@style/AppTheme.RunReview"
            android:parentActivityName=".project.experiment.ExperimentDetailsActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.google.android.apps.forscience.whistlepunk.project.experiment.ExperimentDetailsActivity"/>
        </activity>
        <activity
            android:name=".review.labels.LabelDetailsActivity"
            android:exported="false"
            android:theme="@style/NoBarTheme.Review"
            android:windowSoftInputMode="adjustResize"
            android:parentActivityName=".project.experiment.ExperimentDetailsActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.google.android.apps.forscience.whistlepunk.project.experiment.ExperimentDetailsActivity"/>
        </activity>
        <activity
            android:name=".devicemanager.ManageDevicesActivity"
            android:exported="false"
            android:label="@string/title_activity_sensor_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.google.android.apps.forscience.whistlepunk.MainActivity"/>
        </activity>
        <activity
            android:name=".project.experiment.UpdateExperimentActivity"
            android:exported="false"
            android:label="@string/title_activity_update_experiment"
            android:parentActivityName=".project.experiment.ExperimentDetailsActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.google.android.apps.forscience.whistlepunk.project.experiment.ExperimentDetailsActivity"/>
        </activity>
        <activity
            android:name=".metadata.TriggerListActivity"
            android:exported="false"
            android:label="@string/title_activity_trigger_list"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.Triggers"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.google.android.apps.forscience.whistlepunk.MainActivity"/>
        </activity>
        <!-- Hide the keyboard by default in the EditTriggerActivity so a11y users don't get stuck
             in the keyboard when starting the activity -->
        <activity
            android:name=".metadata.EditTriggerActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_trigger"
            android:parentActivityName=".metadata.TriggerListActivity"
            android:theme="@style/AppTheme.Triggers"
            android:windowSoftInputMode="stateHidden"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.google.android.apps.forscience.whistlepunk.metadata.TriggerListActivity"/>
        </activity>
        <activity
            android:name=".review.UpdateRunActivity"
            android:exported="false"
            android:label="@string/title_edit_trial_activity"
            android:parentActivityName=".review.RunReviewActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateVisible|adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.google.android.apps.forscience.whistlepunk.review.RunReviewActivity"/>
        </activity>
        <activity
            android:name=".project.experiment.ExperimentDetailsActivity"
            android:exported="false"
            android:label="@string/title_activity_experiment_details"
            android:parentActivityName=".MainActivity"
            android:theme="@style/NoBarTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.google.android.apps.forscience.whistlepunk.MainActivity"/>
        </activity>
        <activity
            android:name=".intro.AgeVerifier"
            android:exported="false"
            android:label="@string/title_activity_age_verifier"
            android:theme="@style/AppTheme.AgeVerifier">
        </activity>
        <activity
            android:name=".intro.TutorialActivity"
            android:exported="false"
            android:label="@string/title_activity_tutorial"
            android:theme="@style/NoBarTheme.Review"
            android:launchMode="singleTop">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/navigation_item_settings"/>
        <activity
            android:name=".LicenseActivity"
            android:exported="false"
            android:label="@string/settings_open_source_title"
            android:theme="@style/AppTheme"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.google.android.apps.forscience.whistlepunk.SettingsActivity"/>
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <service
            android:name=".ExportService"
            android:exported="false"></service>
    </application>

</manifest>
